*
{
    margin: 0;
    font-family: Helvetica;
    padding: 1em;
    text-align: center;
    background-color: #145474;
    color: #dddddd;
}

div
{
    border: solid rgb(231, 153, 129) 1px;
}

h1
{
    border: dashed #eeeeee 3px;
}