*
{
    margin: 0;
    font-family: Helvetica;
    padding: 1em;
    text-align: center;
    background-color: #145474;
    color: #dddddd;
}

div
{
    border: solid rgb(231, 153, 129) 1px;
}

h1
{
    border: dashed #eeeeee 0.3em;
}

span
{
    border: dotted #eeeeee 0.2em;
    background-color: #001157;
    padding: 1%;
}